html {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

app {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #334;

  #loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      color: #fafafa;
    }
  }
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}
