@fontface {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url('/font/OpenSans-Regular.ttf');
}
@fontface {
  font-family: 'Open Sans';
  font-weight: 200;
  src: url('/font/OpenSans-Light.ttf');
}
@fontface {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url('/font/OpenSans-Bold.ttf');
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {

}

body, ul {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 400;
}


.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
