ul {
  height: 100%;
  width: 100%;
  list-style-type: none;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

li {
  width: 240px;
  height: 100%;
  cursor: pointer;
  display: inline-block;
}

li.selected {
  color: #a10;
}
