:host {
  display: block;
  height: 100%;
  width: 100%;
}

.img-frame,
.content-frame {
  float: left;
}


/* Image Frame */

.img-frame {
  height: 100%;
  width: 40%;
  overflow-y: auto;
}

.img-frame img {
  width: 100%;
}


/* Content Frame */

.content-frame {
  width: 60%;
  height: 100%;
  overflow-y: auto;
}
